<div class="md-content" layout="row" layout-align="center start" layout-fill layout-margin>
  <div layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" class="md-whiteframe-z2" layout-fill>
    <!-- <md-toolbar class="md-primary" color="primary">
      Create Team
    </md-toolbar> -->
    <h1>Create Team</h1>

    <div layout="column" layout-fill layout-margin layout-padding>
      <form [formGroup]="addForm" #f="ngForm" (ngSubmit)="addTeam()"
            layout="column" layout-fill layout-padding layout-margin>

        <md-input formControlName="name" type="name" placeholder="Team name"></md-input>

        <div layout="row" layout-align="space-between center">
          <button md-raised-button class="md-primary" type="submit" aria-label="login">Create</button>
        </div>
      </form>

      <!-- <div [hidden]="error == ''">
        <md-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
          <p class="md-body-1">{{ error }}</p>
        </md-toolbar>
      </div> -->

    </div>
  </div>
</div>
