<md-card *ngIf="topProject"class="demo-card demo-basic content-card" style="width: 50%">
  <md-toolbar color="primary" class="content-card-md-toolbar">{{team.name}} Homepage</md-toolbar>
  <md-card-content>
    {{topProject.name}} is top project choice
    <md-nav-list>
      <a md-list-item [routerLink]="['/team', teamId, 'recommendation']">Team Recommendation</a>
      <a md-list-item [routerLink]="['/team', teamId, 'members']">Team Members</a>
    </md-nav-list>
  </md-card-content>
</md-card>
