<md-card class="demo-card demo-basic content-card">
  <md-toolbar color="primary" class="content-card-md-toolbar">Create Team</md-toolbar>
  <md-card-content>
    <form [formGroup]="addForm" #f="ngForm" (ngSubmit)="addTeam()"
          layout="column" layout-fill layout-padding layout-margin>
      <md-input formControlName="name" type="name" placeholder="Team name"></md-input>
      <div layout="row" layout-align="space-between center">
        <button md-raised-button class="md-primary" type="submit" aria-label="login">Create</button>
      </div>
    </form>
  </md-card-content>
</md-card>
