<!-- <link href="node_modules/@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet"> -->
<md-toolbar color="primary" style="z-index: 2;">
  <div>
    <a md-button class="md-title" (click)="reroute()">ITSE</a>

  </div>
  <span class="fill-remaining-space"></span>
  <div [hidden]="user">
    <a md-button [routerLink]="['/login']">Login</a>
    <a md-button [routerLink]="['/signup']">Sign up</a>
  </div>
  <div [hidden]="!user">
    <span>{{ user | displayName }}</span>
    <button md-button (click)="logout()">Logout</button>
  </div>
</md-toolbar>
<router-outlet></router-outlet>
