<md-card class="demo-card demo-basic content-card">
  <md-toolbar color="primary" class="content-card-md-toolbar">Create Project</md-toolbar>
  <md-card-content>
    <form [formGroup]="addForm" #f="ngForm" (ngSubmit)="addProject()"
          layout="column" layout-fill layout-padding layout-margin>
      <div layout="row">
        <md-input formControlName="name" type="name" placeholder="Project name"></md-input>
      </div>
      <div layout="row">
        <md-input formControlName="description" type="description" placeholder="Project description"></md-input>
      </div>
      <div layout="row">
        <md-input formControlName="features" type="features" placeholder="Project features"></md-input>
      </div>
      <div layout="row">
        <md-input formControlName="contact" type="contact" placeholder="Project contact"></md-input>
      </div>
      <div layout="row" layout-align="space-between center">
        <button md-raised-button class="md-primary" type="submit" aria-label="login">Create</button>
      </div>
    </form>
  </md-card-content>
</md-card>
