<md-card class="demo-card demo-basic content-card" style="width: 50%">
  <md-toolbar color="primary" class="content-card-md-toolbar">Admin Home</md-toolbar>
  <md-card-content>
    <md-nav-list>
      <a md-list-item routerLink="/admin/clients">Clients</a>
      <a md-list-item routerLink="/admin/students">Students</a>
      <a md-list-item routerLink="/admin/teams">Teams</a>
      <a md-list-item routerLink="/admin/projects">Projects</a>
      <a md-list-item routerLink="/admin/teamScores">Team - Scores</a>
      <a md-list-item routerLink="#">Team - Client - Project</a>
    </md-nav-list>
  </md-card-content>
</md-card>
