<md-card *ngIf="student" class="demo-card demo-basic content-card">
  <md-toolbar color="primary" class="content-card-md-toolbar">Student Details</md-toolbar>
  <md-card-content>
    <form (submit)="updateStudent()" layout="column" layout-fill layout-padding layout-margin>
      <md-input name="username" class="demo-full-width" [(ngModel)]="student.username" placeholder="Username (disabled)" disabled value="{{student.username}}">
      </md-input>
      <div layout="row">
        <md-input name="email" class="demo-full-width" [(ngModel)]="student.contact.email" placeholder="E-mail"></md-input>
      </div>
      <div layout="row">
        <md-input name="phone"class="demo-full-width" [(ngModel)]="student.contact.phone" placeholder="Phone"></md-input>
      </div>


      <div *ngIf="student.teamId">
        <a [routerLink]="['/admin/team', student.teamId]">
          <md-card>
            Student Team
          </md-card>
        </a>
      </div>

      <div *ngIf="projects" style="margin-bottom: 15px;">
        <md-toolbar class="md-secondary" color="secondary" style="margin-top: 15px;">
          Student Project Bids
        </md-toolbar>
        <div *ngFor="let item of student.bids">
          <md-card>{{item.projectId | displayProjectName:projects}}
          <p style="text-align: right">
            {{item.bid}}
          </p>
          </md-card>
        </div>
      </div>

      <div layout="row" layout-align="space-between center">
        <button md-raised-button class="md-primary" type="submit" aria-label="updateProject">Update</button>
      </div>
    </form>
  </md-card-content>
</md-card>
