
<md-card class="demo-card demo-basic content-card" style="width: 50%">
  <md-toolbar color="primary" class="content-card-md-toolbar">Recover Your Password</md-toolbar>
  <md-card-content>
    <div layout="column" layout-fill layout-margin layout-padding>
      <div layout="column" layout-fill layout-margin layout-padding>
        <form [formGroup]="recoverForm" #f="ngForm" (ngSubmit)="recover()"
              layout="column" layout-fill layout-padding layout-margin>

          <md-input formControlName="email" type="email" placeholder="Email"></md-input>

          <div layout="row" layout-align="space-between center">
            <button md-raised-button class="md-primary" type="submit" aria-label="Recover">Recover</button>
          </div>
        </form>
        <div layout="row" layout-align="space-between center" style="margin-top:15px;">
          <a md-button [routerLink]="['/login']">Remember your password?</a>
        </div>
        <div [hidden]="error == ''">
          <md-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
            <p class="md-body-1">{{ error }}</p>
          </md-toolbar>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
