<md-card class="demo-card demo-basic content-card" style="width: 50%">
  <md-toolbar color="primary" class="content-card-md-toolbar">Sign up</md-toolbar>
  <md-card-content>
    <div layout="column" layout-fill layout-margin layout-padding>
      <form [formGroup]="signupForm" #f="ngForm" (ngSubmit)="signup()"
            layout="column" layout-fill layout-padding layout-margin>
        <div layout="row">
          <md-input formControlName="username" type="username" placeholder="username"></md-input>
        </div>
        <div layout="row">
          <md-input formControlName="email" type="email" placeholder="Email"></md-input>
        <div>
        <div layout="row">
          <md-input formControlName="password" type="password" placeholder="Password"></md-input>
        </div>
        <md-radio-group [(ngModel)]="accountType" [ngModelOptions]="{standalone: true}">
          <div layout="row" layout-align="space-between center">
          <md-radio-button value="client">Client</md-radio-button>
          </div>
          <div layout="row" layout-align="space-between center">
          <md-radio-button value="student">Student</md-radio-button>
          </div>
          <div layout="row" layout-align="space-between center">
          <md-radio-button value="pm">PM</md-radio-button>
          </div>
        </md-radio-group>

        <div layout="row" layout-align="space-between center" style="margin-top:15px;">
          <button md-raised-button class="md-primary" type="submit" aria-label="login">Sign Up</button>
        </div>
      </form>
      <div layout="row" layout-align="space-between center" style="margin-top: 15px;">
        <a md-button [routerLink]="['/login']">Already a user?</a>
      </div>
      <div [hidden]="error == ''">
        <md-toolbar class="md-warn" layout="row" layout-fill layout-padding layout-margin>
          <p class="md-body-1">{{ error }}</p>
        </md-toolbar>
      </div>
    </div>
  </md-card-content>
</md-card>
