<h1>Student Home</h1>

<a md-button [routerLink]="['/projects']">Project List</a>

<!-- <button (click)="checkIt()">Check it</button>

<div *ngIf="amI">
  <p>Yes I am</p>
</div> -->

<md-card>
  <md-card-content>
    <h5 class="md-title ma-name">
      BLA
    </h5>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <h5 class="md-title ma-name">
      BLA2
    </h5>
  </md-card-content>
</md-card>

<md-card>
  <md-card-content>
    <h5 class="md-title ma-name">
      BLA3
    </h5>
  </md-card-content>
</md-card>
