<md-card *ngIf="student" class="demo-card demo-basic content-card">
  <md-toolbar color="primary" class="content-card-md-toolbar">Student Profile</md-toolbar>
  <md-card-content>
    <form (submit)="updateStudent()" layout="column" layout-fill layout-padding layout-margin>
      <div layout="row">
        <md-input name="phone" class="demo-full-width" [(ngModel)]="student.contact.phone" placeholder="Phone number"></md-input>
      </div>
      <div layout="row">
        <md-input name="email"class="demo-full-width" [(ngModel)]="student.contact.email" placeholder="E-mail"></md-input>
      </div>
      <div layout="row" layout-align="space-between center">
        <button md-raised-button class="md-primary" type="submit" aria-label="updateClient">Update</button>
      </div>
    </form>
  </md-card-content>
</md-card>
